/build/
/dist
/dist/*.*
/doc/html/
/doc/img/
/doc/readme/
/sources/*.directory

*.pro
*.user
*.user.*
Doxyfile
*.directory
README
Makefile
*.py
cmake_install.cmake
/CMakeCache.txt
/CMakeFiles/
/data/*.tree
/data/*.vtk
/projects-old/
/data/
